<!DOCTYPE html>
<html>
        <head>
                <title>Build a blog</title>
                <style type="text/css">
                    .error {
                        color: red;
                    }
                </style>
            </head>
    <body>
           
            <a href="/"> Main Blog Page</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="addblog">Add a blog Entry</a><br>
    
            <br>
            
            
       {% block content %}    

      {% endblock %}
   
    </body>
</html>